.box {
  padding: 30px;
  margin-top: 400px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid black;
  background-color: rgba(0, 0, 0, 0.167);
  margin-left: auto;
  margin-right: auto;
  gap: 30px;
}
.main-box {
  display: flex;
  gap: 10px;
}
.app-header {
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}
